

/* Ensures the carousel container is centered */


/* Adjust the carousel item size */


/* Style for the image */
.carousel-image {
  width: 100%; /* Adjust image size */
  height: 400px; /* Adjust image size */
  object-fit: contain;

    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  
}

img {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}


